banerdfooter#footer.cf
    a.logo(href='index.php') immo
    p ©2016 immo. All rights Reserved
    p Terms of Service Privacy Policy
script.
    $('#bannerAccueil, #banner').parallax({imageSrc: 'images/banner.jpg'});
