extends includes/_head.pug
block content
    #banner.cf
        h1 A propos
        h2 En savoir plus sur <i>Immo</i>
    .wrapper
        #contentAcheter
            h1 Projet BTS 2016/2017
            p.
                L'agence immobilière Immo propose des biens à d'éventuels acheteurs ou locataires, mandaté par des propriétaires ou d'autres agences immobilières.
                Les biens sont des biens d'habitation (studios, appartements, maisons, ou des biens commerciaux (terrains, entrepôts)).
                Pour exercer son activité, l'agence gère les informations suivantes :
                - les noms, adresses, téléphone, heures de présence téléphoniques et adresses mail des propriétaires ou agences sous traitant des biens
                - les noms, adresses, téléphone, heures de présence téléphonique et adresses mail des clients
                - les localisations, dates de soumission, dates de mise à disposition, status (disponible, réservé, loué, acheté), références cadastrales, prix, charges, l’État (en l'état, à restaurer, correct, exceptionnel) des biens.
                Le prix et le montant de l'achat demandé pour un bien à acheter et est le loyer mensuel pour un bien à louer.
    include includes/_footer.pug
