extends includes/_head.pug
block content
    #banner.cf
        h1 Dépot
        h2 Déposez votre annonce de maison ou d'appartements
    .wrapper
        | formulaire
    include includes/_footer.pug
